# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True/False
ALLOWED_HOSTS=localhost,127.0.0.1,etc.

# PostgreSQL Database
DB_NAME=django_db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

# Which settings module will be used
DJANGO_SETTINGS_MODULE=_project.settings.local

#URL where is admin page od django
ADMIN_URL=djsdp-admin

#ADMINS notifications
ADMINS=["your@email.com"]

#EMAIL settings
EMAIL_HOST="smtp.server.com"
EMAIL_PORT=465/587
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER="some-email@domain.com"
EMAIL_HOST_PASSWORD="some-password"
DEFAULT_FROM_EMAIL="some-email@domain.com"
