{% load crispy_forms_tags %}

<div class="modal-header">
	<h5 class="modal-title">Edit record</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
	<form id="record-edit-form" method="post" action="{% url 'service_desk:record_edit' ticket_number record.pk %}">
		{% csrf_token %}
		{% crispy form %}

		{% if form.is_internal %}
			<div class="form-check form-switch mt-2">
				<input class="form-check-input" type="checkbox" role="switch"
						 name="is_internal" id="id_is_internal"
						 {% if form.is_internal.value %}checked{% endif %}>
				<label class="form-check-label" for="id_is_internal">Internal Record</label>
			</div>
		{% endif %}
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
	{% if is_agent %}
	<button type="submit" form="record-edit-form" name="action" value="save_and_send" class="btn btn-primary">Save & Send</button>
	{% endif %}
	<button type="submit" form="record-edit-form" class="btn btn-primary">Save</button>
</div>