{% load django_tables2 %}
{% load url_helpers %}
{% load tz %}

{% render_table records_table %}

<div class="my-4 d-flex justify-content-end gap-3">
	<nav aria-label="Page navigation">
	  <ul class="pagination pagination-sm">

		{% if page.has_previous %}
		<li class="page-item">
		  <a class="page-link"
			 href="#"
			 hx-get="{{ request.path }}?page={{ page.previous_page_number }}&per_page={{ per_page }}"
			 hx-target="#records-container"
			 hx-swap="innerHTML"
			 hx-include="#record-filter-form form">
			<span aria-hidden="true">&laquo;</span>
		  </a>
		</li>
		{% endif %}

		{% for page_num in page_range %}
		<li class="page-item {% if page_num == page.number %}active{% endif %}">
		  <a class="page-link"
			 href="#"
			 hx-get="{{ request.path }}?page={{ page_num }}&per_page={{ per_page }}"
			 hx-target="#records-container"
			 hx-swap="innerHTML"
			 hx-include="#record-filter-form form">{{ page_num }}</a>
		</li>
		{% endfor %}

		{% if page.has_next %}
		<li class="page-item">
		  <a class="page-link"
			 href="#"
			 hx-get="{{ request.path }}?page={{ page.next_page_number }}&per_page={{ per_page }}"
			 hx-target="#records-container"
			 hx-swap="innerHTML"
			 hx-include="#record-filter-form form">
			<span aria-hidden="true">&raquo;</span>
		  </a>
		</li>
		{% endif %}

	  </ul>
	</nav>

	<div class="dropdown">
	  <a class="btn btn-sm btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		  {{ request.GET.per_page|default:"15" }}
	  </a>

	  <ul class="dropdown-menu dropdown-menu-end">
		<li>
			<a class="dropdown-item"
			   href="#"
			   hx-get="{{ request.path }}?page=1&per_page=5"
			   hx-target="#records-container"
			   hx-swap="innerHTML"
			   hx-include="#record-filter-form form">5</a>
		</li>
		<li>
			<a class="dropdown-item"
			   href="#"
			   hx-get="{{ request.path }}?page=1&per_page=15"
			   hx-target="#records-container"
			   hx-swap="innerHTML"
			   hx-include="#record-filter-form form">15</a>
		</li>
		<li>
			<a class="dropdown-item"
			   href="#"
			   hx-get="{{ request.path }}?page=1&per_page=30"
			   hx-target="#records-container"
			   hx-swap="innerHTML"
			   hx-include="#record-filter-form form">30</a>
		</li>
	  	<li>
			<a class="dropdown-item"
			   href="#"
			   hx-get="{{ request.path }}?page=1&per_page=40"
			   hx-target="#records-container"
			   hx-swap="innerHTML"
			   hx-include="#record-filter-form form">40</a>
		</li>
	  </ul>
	</div>
</div>
