{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Service Desk{% endblock %}</title>
    <link href="{% static 'service_desk/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
  </head>

  <body>
  	<h1>Login page</h1>

    <script src="{% static 'service_desk/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}

  </body>
</html>