{% extends 'service_desk/_base.html' %}
{% load static %}
{% load tz %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'service_desk/css/tom-select.bootstrap5.min.css' %}">
{% endblock extra_head %}

{% block content %}
	<h3 class="mb-0 fw-light">Profile settings</h3>
	<hr class="opacity-25">

	{% include 'service_desk/include/messages.html' %}

	<div class="settings-page">
		<form method="post">
			{% csrf_token %}

			<div class="mb-3 settings-option">
				<div class="settings-option-grid">
					<div>
						<label class="form-check-label" for="id_notification_enabled">Enable email notifications</label>
						<p class="text-muted small fst-italic mb-0">Enables or disables email notifications for tickets you are involved in.</p>
					</div>
					<div class="form-check form-switch d-flex align-items-center ms-4">
						<input class="form-check-input" type="checkbox" role="switch"
							   name="email_notifications" id="id_email_notifications_enabled"
							   {% if form.email_notifications.value %}checked{% endif %}>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary mt-3">Save</button>

		</form>

	</div>
{% endblock content %}