{% extends 'service_desk/_base.html' %}
{% load url_helpers %}
{% load django_tables2 %}

{% block content %}
	<h2>Tickets</h2>
	<hr class="opacity-25">

	{% render_table table %}

	<div class="my-4 d-flex justify-content-end gap-3">
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm">

        {% if page.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?{% url_replace page=page.previous_page_number %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for page_num in page_range %}
        <li class="page-item {% if page_num == page.number %}active{% endif %}">
          <a class="page-link" href="{{ request.path }}?{% url_replace page=page_num %}">{{ page_num }}</a>
        </li>
        {% endfor %}

        {% if page.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?{% url_replace page=page.next_page_number %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>

	<div class="dropdown">
	  <a class="btn btn-sm btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		  {{ request.GET.per_page|default:"20" }}
	  </a>

	  <ul class="dropdown-menu dropdown-menu-end">
	  	<li><a class="dropdown-item" href="{{ request.path }}?{% url_replace page=1 per_page=5 %}">5</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?{% url_replace page=1 per_page=20 %}">20</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?{% url_replace page=1 per_page=40 %}">40</a></li>
		<li><a class="dropdown-item" href="{{ request.path }}?{% url_replace page=1 per_page=60 %}">60</a></li>
	  </ul>
	</div>

</div>


{% endblock content %}