/* Always reserved space for vertical scrollbar */
/*html {*/
/*    scrollbar-gutter: stable;*/
/*}*/

/* Custom Bootstrap variables */
:root {
    --bs-body-font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif !important;
}


/* Animation for sidebar menu @keyframes is part of it */
.nav-link.active {
    animation: fadeIn 0.2s ease-in ;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 992px) {
    .custom-sidebar {
        min-width: 280px;
        width: 280px;
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}

/* Hide asterisk (*) in crispy forms */
.asteriskField {
    display: none;
}

.tickets-table {
    font-size: 14px;
}

.tickets-table thead tr th{
    background-color: #1a4c96;
}

.ticket-row-link {
    color: #1a4c96;
}


.tickets-table thead th{
    padding: 8px 12px;
}

.tickets-table thead tr th > a{
    color: white;
}

.table thead th a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}

.tickets-table thead th.orderable a::after {
    font-family: 'Material Symbols Outlined';
    content: 'unfold_more';
    opacity: 0.4;
    float: right;
    font-size: 16px;
}

.tickets-table thead th.asc a::after {
    font-family: 'Material Symbols Outlined';
    content: 'keyboard_arrow_up';
    opacity: 1;
    float: right;
}

.tickets-table thead th.desc a::after {
    font-family: 'Material Symbols Outlined';
    content: 'keyboard_arrow_down';
    opacity: 1;
    float: right;
}

.create-ticket-form .form-control,
.create-ticket-form .form-select {
    font-size: 14px;
    padding: 4px 8px;
}

.create-ticket-form .form-label {
    font-size: 14px;
    margin-bottom: 2px;
}

.create-ticket-form .mb-3 {
    margin-bottom: 8px !important;
}