/* Always reserved space for vertical scrollbar */
/*html {*/
/*    scrollbar-gutter: stable;*/
/*}*/

/* Custom Bootstrap variables */
:root {
    --bs-body-font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif !important;
}


/* Animation for sidebar menu @keyframes is part of it */
.nav-link.active {
    animation: fadeIn 0.2s ease-in ;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 992px) {
    .custom-sidebar {
        min-width: 280px;
        width: 280px;
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}

/* Hide asterisk (*) in crispy forms */
.asteriskField {
    display: none;
}

.tickets-table thead tr th{
    background-color: #1a4c96;
}

.ticket-row-link {
    color: #1a4c96;
}


.tickets-table thead th{
    padding: 8px 12px;
}

.tickets-table thead tr th > a{
    color: white;
}